/* import styles from main stylesheet */
@import "sakura-vader.css";
@import "prism-laserwave.css";

body {
    max-width: 44em;
}

#console {
    padding: 0 2em 1em;
    border: solid 1px grey;
    border-radius: .5em;
    margin: 1.5em 0 1em;
}
